body{
    padding: 0%;
    margin: 0%;
    display: flex;
}

.barra{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap:1rem;

}

.principal{
    display: flex;
    flex-grow: 1;
    background-color: azure;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    w
}

@media (max-width: 640px){
    body{
        flex-direction: column-reverse;
    }
.barra{
    flex-direction:row;
    justify-content: space-evenly;

}
}